<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <JRunner.Properties.Settings>
            <setting name="FileChecks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="xebuild" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="multipleinstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="Errorsound" serializeAs="String">
                <value/>
            </setting>
            <setting name="Comparesound" serializeAs="String">
                <value/>
            </setting>
            <setting name="Successsound" serializeAs="String">
                <value/>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DashLaunchE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeepFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoReads" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="IPStart" serializeAs="String">
                <value/>
            </setting>
            <setting name="IPEnd" serializeAs="String">
                <value/>
            </setting>
            <setting name="XebuildName" serializeAs="String">
                <value>updflash.bin</value>
            </setting>
            <setting name="FirstTimeRunningThisVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LPTport" serializeAs="String">
                <value>378</value>
            </setting>
            <setting name="dashlaunch" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="preferredDash" serializeAs="String">
                <value>0</value>
            </setting>
        </JRunner.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
            <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
